.main {
  margin-top: 30px;
  padding-left: 9rem;
  padding-right: 4rem;
  padding-bottom: 20px;
  min-height: 100vh;
  font-family: "DM Sans";
  background-color: black;
  color: white;
}

.title {
  font-size: 96px;
  margin-bottom: 10px;
  padding-top: 25px;
  font-weight: bold;
}
.pink {
  background-color: pink;
}
.blue {
  background-color: #87CEEB;
}
.green {
  background-color:#8FBC8F;
}

.polariod {
  border-radius: 4px;
  padding: 5px;
  padding-bottom: 10px;
}

.picture {
  aspect-ratio: 6/3;
}

.canvas {
  display: none;
}

.captured-image {
  max-width: 100%;
  height: auto;
  display: none;
}

.video {
  max-width: 100%;
  height: auto;
}

.videoContainer {
  max-width: 20rem;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  max-width: 1000px;
  gap: 5px;
}

.grid-item {
  max-width: 200px;
  overflow: hidden;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

.grid-item-1 {
  grid-row-end: span 1;
  grid-column-end: span 1;
}

.grid-item-2 {
  grid-column-end: span 2;
  grid-row-end: span 2;
}

.grid-item-x {
  grid-column-end: span 1;
}

.grid-item-3 {
  grid-row-end: span 3;
  grid-column-end: span 3;
}

@media (max-width: 1300px) {
  .innerSquaresWrapper {
    display: flex;
    gap: 40px;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
  }
  .main {
    padding-left: 6rem;
    padding-right: 4rem;
    min-height: 100vh;
    font-family: "DM Sans";
    background-color: black;
    color: white;
  }
}

@media (max-width: 820px) {
  .title {
    font-size: 70px;
    margin-bottom: 10px;
    margin-left: 0px;
    font-weight: bold;
  }
  .header {
    padding-left: 0px;
  }
  .rightHeader {
    margin-left: auto;
    margin-top: 29px;
    margin-right: 30px;
    color: white;
    display: flex;
    flex: no-wrap;
    align-items: center;
  }
  .main {
    padding-left: 2rem;
    padding-right: 2rem;
    min-height: 100vh;
    font-family: "DM Sans";
    background-color: black;
    color: white;
  }
  .outerSquaresWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    margin-left: 39px;
    margin-right: 50px;
  }

  .square {
    align-items: center;
    min-width: 275px;
    width: 100%;
    color: black;
    max-width: 800px;
    background-color: rgb(203,201,248);
    flex: 1;
    height: 400px;
    border-radius: 20px;
    padding: 40px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 1.4;
  }
  .squareTitle {
    font-size: 25px;
    margin-bottom: 30px;
  }
  .squareTitle1 {
    font-size: 25px;
    margin-bottom: 30px;
  }
}

@media (max-width: 700px) {
  .title {
    font-size: 50px;
    margin-bottom: 10px;
    margin-left: 0px;
    font-weight: bold;
  }
  .header {
    padding-left: 0px;
  }
  .rightHeader {
    margin-left: auto;
    margin-top: 29px;
    margin-right: 30px;
    color: white;
    display: flex;
    flex: no-wrap;
    align-items: center;
  }
  .main {
    padding-left: 2rem;
    padding-right: 2rem;
    min-height: 100vh;
    font-family: "DM Sans";
    background-color: black;
    color: white;
  }
}

@media (max-width: 420px) {
  .title {
    font-size: 50px;
    margin-bottom: 10px;
    margin-left: 0px;
    font-weight: bold;
  }
}

@media (max-width: 380px) {
  .title {
    font-size: 40px;
    margin-bottom: 10px;
    margin-left: 0px;
    font-weight: bold;
  }
  .contact {
    display: none;
  }
  .header {
    padding-left: 0px;
  }
  .rightHeader {
    margin-left: auto;
    margin-top: 29px;
    margin-right: 30px;
    color: white;
    display: flex;
    flex: no-wrap;
    align-items: center;
  }
  .main {
    padding-left: 2rem;
    padding-right: 2rem;
    min-height: 100vh;
    font-family: "DM Sans";
    background-color: black;
    color: white;
  }
}

@media (max-width: 290px) {
  .title {
    overflow-wrap: break-word;
    inline-size: 300px;
    font-size: 30px;
    margin-bottom: 10px;
    margin-left: 0px;
    font-weight: bold;
  }
  .contact {
    display: none;
  }
  .contact1 {
    display: none;
  }
  .header {
    padding-left: 0px;
  }
  .rightHeader {
    margin-left: auto;
    margin-top: 29px;
    margin-right: 30px;
    color: white;
    display: flex;
    flex: no-wrap;
    align-items: center;
  }
  .main {
    padding-left: 2rem;
    padding-right: 2rem;
    min-height: 100vh;
    font-family: "DM Sans";
    background-color: black;
    color: white;
  }
}